@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kanit&family=Kaushan+Script&family=Raleway:wght@300;400;500;600&display=swap');
:root{
    --d-yellow: #c59d5f;
    --light: #f9f9f9;
    --dark:#222;
    --PColor:#a5a5a5;
    --font-Kaushan:'Kaushan Script', cursive;
    --font-Great:'Great Vibes',cursive;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
    text-decoration: none;
}
span{
    color: var(--d-yellow);
    font-family: var(--font-Great);
    font-size: 35px;
}
section{
    padding: 100px 0 0;
    text-align: center;
}
section .container{
    width: 85%;
    margin: auto;
}
.sec-head span{
    font-size: 35px;
}
.sec-head h2{
    color: var(--dark);
    font-size: 45px;
}
.sec-head{
    position: relative;
    z-index: 2;
}
.small-sec .sec-head h2{
    color: #fff;
}
.small-sec{
    position: relative;
    padding: 180px 0;
    margin-bottom: 100px;
    width: 100%;
}
.boxs{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.boxs .box{
    flex-basis: 31.5%;
}
.btn{
    font-size:14px;
    color: #fff;
    background-color: var(--d-yellow);
    padding: 10px 15px;
    text-transform: uppercase;
    transition: 0.3s;
}
.btn:hover{
    color: var(--d-yellow);
    background-color: #fff;
}
.bg-overlay::after{
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background-color: rgba(27, 27, 27, 0.65);
    z-index: 1;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-Kaushan);
    color: var(--dark);
    font-size: 40px;
}
p{
    color: var(--PColor);
    font-size: 14px;
}
.arrow-top,
.arrow-bottom{
    content: '';
    position: absolute;
    background-image: url(../img/arrow-up.png);
    width: 92px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
.arrow-top{
    top: -1px;
    background-image: url(../img/arrow-up.png);
}
.arrow-bottom{
    bottom: -1px;
    background-image: url(../img/arrow-down.png);
}
.reservation{
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 800;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(39, 39, 39, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.reservation.active{
    top: 0;
}
.reservation .res-bg{
    width: 65vw;
    background-color: #fff;
    border-radius: 2px;
    padding: 25px 100px;
    text-align: center;
    position: relative;
}
.reservation .res-bg .text h3{
    text-align: center;
    color: var(--d-yellow);
    font-size: 30px;
    margin-bottom: 50px;
}
.reservation form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.reservation form input{
    width: 28%;
    padding: 15px 10px;
    outline: none;
    margin-bottom: 30px;
    border: 1px solid #a5a5a552;
}
.reservation form textarea{
    padding: 10px;
    width: 100%;
    border: 1px solid #a5a5a552;
    margin-bottom: 20px;
    line-height: 2;
    outline: none;
}
.reservation form textarea:focus,
.reservation form input:focus{
    border-color: var(--d-yellow);
}
.reservation .btn{
    background-color: #222;
    padding: 20px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    letter-spacing: 1.5px;
}
#closeResrv{
    position: absolute;
    top: 30px;
    right: 50px;
    width: 30px;
    height: 30px;
    background-color: #c59d5f;
    line-height: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.header{
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}
.header nav{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header nav .logo{
    color: #fff;
    font-size: 40px;
    font-family: var(--font-Great);
    font-weight: bold;
    letter-spacing: 2px;
}
.header nav .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav ul li{
    display: inline-block;
    margin: 0 30px;
    height: 100px;
    position: relative;
    line-height: 100px;
}
.header nav ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--d-yellow);
    width: 0%;
    height: 2px;
    transition: 0.3s;
}
.header nav ul li:hover::after,
.header nav ul li.active::after{
    width: 100%;
}
.header nav ul li a{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
#OpenMenu,
#book{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--light);
    border: 2px solid var(--light);
    background-color: var(--d-yellow);
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
#OpenMenu{
    right: 30px;
}
#book{
    right: 70px;
}

.header.active{
    background-color: var(--light);
}
.header.active nav ul li a{
    color: var(--dark);
}
.header.active nav .btn{
    color: var(--dark);
    border: 1px solid var(--d-yellow);
}
.header.active nav .btn:hover{
    color: var(--d-yellow);
}
.header.active nav .logo{
    color: var(--dark);
}
.home .home-slider .slide1{
    background: url(../img/home-1.jpg);
}
.home .home-slider .slide2{
    background: url(../img/home-2.jpg);
}
.home .home-slider .slide3{
    background: url(../img/home-3.jpg);
}
.home .home-slider .slide{
    display: flex;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.home .home-slider .slide .content{
    text-align: center;
    width: 80%;
    margin: auto;
    z-index: 2;
}
.home .home-slider .slide .content h3{
    color: #fff;
    font-size: 35px;
}
.home .home-slider .slide .content h1{
    color: #f9f9f9;
    font-size: 80px;
    padding: 0 0 60px;
}
.home .home-slider .slide .content .btn{
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.slider{
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75 hsla(0, 0%, 0%, 0.25);
}
.slider div{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.slider-nav a{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
.about .content .div-p{
    margin: auto;
    padding: 80px;
}
.about .content .div-p p{
    color: var(--dark);
    font-size: 40px;
    font-family: var(--font-Great);
}
.about .content .boxs .box span{
    font-size: 35px;
    margin-bottom: 15px;
}
.about .content .boxs .box h3{
    color: var(--dark);
    font-size: 30px;
    margin-bottom: 25px;
}
.about .content .boxs .box p{
    font-size: 14px;
    color: var(--PColor);
}
.boxs .box{
    flex-basis: 48%;
    margin-bottom: 40px;
    padding: 10px;
}
.recipes .small-sec{
    background: url(../img/sec-bg1.jpg),no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.recipes .boxs .box img{
    margin-bottom: 15px;
    width: 100%;
}
.recipes .boxs .box span{
    font-size: 30px;
    margin: 0 15px;
}
.recipes .boxs .box h4{
    font-size: 28px;
    padding: 0 0 20px;
}
.recipes .boxs .box p{
    color: var(--PColor);
    font-size: 14px;
}
.sec-menu .small-sec{
    background: url(../img/sec-bg2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.sec-menu .content ul{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.sec-menu .content ul li{
    color: var(--dark);
    font-size: 22px;
    font-family: var(--font-Kaushan);
    list-style: none;
    cursor: pointer;
    text-transform: capitalize;
    margin: 0 40px;
}
.footer{
    padding: 20px;
}
.footer .mg-box{
    background-color: #222;
    width: 100%;
}
.footer .container{
    padding: 80px 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer .container .list{
    width: 300px;
}
.footer .container .list h2{
    color: #fff;
    font-size: 30px;
    margin-bottom: 25px;
}
.footer .container .list h4{
    color: #fff;
    font-size: 18px;
    margin-bottom: 25px;
    font-family: sans-serif;
}
.footer .container .list a i{
    width: 40px;
    height: 40px;
    background-color: #1b1b1b;
    color: #fff;
    line-height: 40px;
    margin-right: 10px;
    transition: 0.4s;
}
.footer .container .list a i:hover{
    background-color: var(--d-yellow);
}
.footer .text p{
    font-size: 12px;
    line-height: 2;
}
.footer .news .inpt{
    position: relative;
    width: 240px;
    margin: auto;
}
.footer .news .inpt input{
    width: 100%;
    background: #1b1b1b;
    border: none;
    outline: none;
    padding: 10px 10px;
    color: #a5a5a5;
}
.footer .news .inpt i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 100%;
    line-height: 35px;
    cursor: pointer;
    color: #fff;
    background-color:var(--d-yellow) ;
}
.footer .copy-right{
    padding: 30px;
    background-color: #1b1b1b;
}
.footer .copy-right p{
    margin-bottom: 15px;
    font-family: 'Raleway' ,'sans-serif';
}


@media (max-width:991px){
    .header nav{
        width: 90%;
    }
    .header nav ul li{
        margin: 15px;
    }
    .header nav ul li a{
        font-size: 12px;
    }
    .boxs .box{
        flex-basis: 48%;
        margin-bottom: 40px;
    }
}
@media (max-width:768px){
    #OpenMenu,
    #book{
        display: block;
    }
    .header nav .menu{
        position: absolute;
        top: 100%;
        left: 0%;
        right: 0;
        background-color: #444;
        padding: 10px;
        flex-wrap: wrap;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.3s;
    }
    .header nav .menu.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header nav .menu ul{
        width: 100%;
    }
    .header nav .menu ul li{
        display: block;
        padding: 0 20px;
        margin: 10px;
        width: 100%;
        height: 50px;
        line-height: 50px;
        background-color: #222;
        margin: 10px auto;
        transition: 0.3s;
    }
    .header nav .menu ul li a{
        color: #fff;
    }
    .header nav .menu ul li:hover,
    .header nav .menu ul li.active{
        background-color: var(--d-yellow);
    }
    .header nav .btn,
    .header .menu ul li::after{
        display: none;
    }
    .home .home-slider .slide .content h3{
        font-size: 25px;
    }
    .home .home-slider .slide .content h1{
        font-size: 40px;
    }
    .home .home-slider .slide .content .btn{
        font-size: 14px;
        padding: 10px 20px;
    }
    .sec-head span{
        font-size: 28px;
    }
    .sec-head h2{
        font-size: 35px;
    }
    .about .content .div-p{
        padding: 30px 0 30px;
    }
    .about .content .div-p p{
        font-size: 25px;
    }
    .boxs{
        display: block;
        padding: 40px;
    }
}
@media(max-width:550px){
    .home .home-slider .slide .content h3{
        font-size: 20px;
    }
    .home .home-slider .slide .content h1{
        font-size: 30px;
    }
    .home .home-slider .slide .content .btn{
        font-size: 12px;
        padding: 8px 16px;
    }
    .boxs{
        justify-content: center;
    }
    .boxs .box{
        flex-basis: 100%;
    }
    .sec-head span{
        font-size: 25px;
    }
    .sec-head h2{
        font-size: 30px;
    }
    .boxs{
        flex-wrap: wrap;
    }
}